<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://brylluptest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>brylluptest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Brylluptest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Brylluptest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Bryllup2016ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=ambicon.database.windows.net;Initial Catalog=Bryllup2016;Persist Security Info=True;User ID=Ambicon;Password=Marketme2015;Application Name=EntityFramework" Name="Data Source=ambicon.database.windows.net;Initial Catalog=Bryllup2016;Persist Security Info=True;User ID=Ambicon;Password=Marketme2015;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ambicon.database.windows.net;Initial Catalog=Bryllup2016;Persist Security Info=True;User ID=Ambicon;Password=Marketme2015" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Bryllup2016ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ambicon.database.windows.net;Initial Catalog=Bryllup2016;Persist Security Info=True;User ID=Ambicon;Password=Marketme2015" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Bryllup2016Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=ambicon.database.windows.net;Initial Catalog=Bryllup2016;Persist Security Info=True;User ID=Ambicon;Password=Marketme2015;Application Name=EntityFramework" Name="Data Source=ambicon.database.windows.net;Initial Catalog=Bryllup2016;Persist Security Info=True;User ID=Ambicon;Password=Marketme2015;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ambicon.database.windows.net;Initial Catalog=Bryllup2016;Persist Security Info=True;User ID=Ambicon;Password=Marketme2015;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Bryllup2016Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.UsersModel.csdl|res://*/App_Code.UsersModel.ssdl|res://*/App_Code.UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ambicon.database.windows.net;initial catalog=Bryllup2016;persist security info=True;user id=Ambicon;password=Marketme2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Bryllup2016ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=ambicon.database.windows.net;Initial Catalog=Bryllup2016;Persist Security Info=True;User ID=Ambicon;Password=Marketme2015;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Bryllup2016Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/App_Code.UsersModel.csdl|res://*/App_Code.UsersModel.ssdl|res://*/App_Code.UsersModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ambicon.database.windows.net;Initial Catalog=Bryllup2016;Persist Security Info=True;User ID=Ambicon;Password=Marketme2015;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>